.header-container {
  display: flex;
}
.waveImage {
  height: 50px;
}
.header-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.nav-bar-menus {
  display: flex;
  list-style: none;
}
.nav-bar-menus {
  gap: 40px;
}
